.pageBody {
    display : flex;
    flex-direction : row;
    border : solid black 5px;
    align-items : center;
    justify-content : center;
    padding-top : 13.5px;
    padding-right : 80px;
}

.loginBox {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    height : 420px;
    margin-top : -200px;
    margin-left : 45px;
    width : 350px;
}

.posterImgDiv {
     border : solid pink 5px;
     display : flex;
}

.instaPosterContent {
   
    margin-left : -313px;
    margin-top : 20px;
    height : 550px;
    border-radius : 25px;
    
    
    
}

.instagramLogo {
    
    margin-top : 50px;
    margin-left : 95px;
}

.input {
    height : 35px;
    width : 250px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size : 12px;    
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    margin-left : 50px;
    margin-top : 30px;
}

.pass {
    margin-top : 5px;
}

button {
    width : 255px;
    height : 28px;
    margin-left : 50px;
    margin-top : 12.5px;

}