.pageBody {
    display : flex;
    flex-direction : row;
    
    align-items : center;
    justify-content : center;
    padding-top : 13.5px;
    padding-right : 80px;
}

.loginBox {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    height : 420px;
    margin-top : -200px;
    margin-left : 45px;
    width : 350px;
    
}

.posterImgDiv {
     
     display : flex;
}

.instaPosterContent {
   
    margin-left : -313px;
    margin-top : 20px;
    height : 550px;
    border-radius : 25px;
    
    
    
}

.instagramLogo {
    
    margin-top : 50px;
    margin-left : 95px;
}

.input {
    height : 35px;
    width : 250px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size : 12px;    
    border : 1px solid rgba(var(--b6a,219,219,219),1);
    margin-left : 50px;
    margin-top : 30px;
    border-radius : 3px;
    outline-width : 0;
}

.pass {
    margin-top : 5px;
}

button {
    width : 255px;
    height : 32px;
    margin-left : 50px;
    margin-top : 12.5px;
    border : 1px solid transparent;
    background-color : rgba(var(--d69,0,149,246),.3);
    opacity : 1;
    border-radius : 4px;
    color : rgba(var(--eca,255,255,255),1);
    position : relative;
    font-family : "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight : 600;
    font-size : 14px;
}

.Line-or-line {
    
    width : 250px;
    margin-left : 52px;
    margin-top : 18px;
    height : 30px;
    display : flex;
    justify-content : space-between;
    align-items : flex-start;
}

.orLine {
    border : 0 solid #000;
    width : 92.5px;
    margin-top : 9px;
    background-color : rgba(var(--b38,219,219,219),1);
    height : 1px;
    
}

.OrText {
    color : rgba(var(--f52,142,142,142),1);
    font-size : 13px;
    font-weight : 600px;
    margin-top : 2.5px;
}

.symbolFB {
    
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-evenly;
    width : 200px;
    height : 40px;
    margin-left : 70px;
    text-decoration : none;
    color: #385185;
    font-family : "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size : 14px;
    font-weight : 600;
}

.fbIcon {
    width : 32px;
    height : 32px;
}

.lastText {
    
    text-align : center;
    font-family : "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size : 12.5px;
    color : #385185;
    font-weight : 450;
    margin-top :9px;
}

.TextLink {
    text-decoration : none;
    color : #385185;
    
}

.signUp {
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    width : 351px;
    height : 60px;
    margin-left : 760px;
    margin-top : -195px;
    text-align : center;
    display : flex;
    justify-content : center;
    align-items : center;
    font-family : "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight : 380;
    font-size : 14px;
    
}

.linkSignUp {
    
    text-decoration : none;
    margin-left : 5px;
    color: rgba(var(--d69,0,149,246),1);
    font-size : 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight : 600;
}

.appPromotion {
    
    width : 351px;
    margin-left : 760px;
    text-align : center;
    margin-top : 18px;
    font-family : "Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight : 380;
    
}


.appStoreButtons {
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}

.appstore {
    height : 40px;
    width : 125px;
    border-radius : 7px;
    margin-top : 18px;
    
}

.left {
    margin-right : 5px;
}

.right {
    margin-left : 5px;
}

.footerClass {
    
    height : 100px;
    margin-top : 50px;
}

.FirstRowLinks {
    
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-around;
    width : 875px;
    margin-left : 280px;
    
}

.FirstRowLinks a{
    text-decoration : none;
    color: #8e8e8e;
    font-weight : 400;
    font-size : 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.SecondRowLinks {
   
    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-around;
    width : 400px;
    margin-left : 525px;
    margin-top : 8px;
}

.SecondRowLinks a{
    text-decoration : none;
    color: #8e8e8e;
    font-weight : 400;
    font-size : 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.ThirdRow{
    
    display : flex;
    flex-direction : row;
    width : 300px;
    margin-left : 580px;
    justify-content : space-evenly;
    color: #8e8e8e;
    font-weight : 400;
    font-size : 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-top : 8px; 
}

.ThirdRow a{
    text-decoration : none;
    color: #8e8e8e;
    font-weight : 400;
    font-size : 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    margin-top : 11.5px; 
}



